{% extends 'base.html.twig' %}

{% block body %}
    <h1>Welcome my freinds!</h1>

    <p>Pariatur reprehenderit aliqua consequat fugiat elit exercitation cillum. Voluptate aliqua commodo cillum dolore aliquip sunt sit et </p>
    <p>exercitation anim et veniam minim sint. Tempor elit deserunt id labore enim do deserunt ullamco nostrud.</p>
{% endblock %}
